@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
    font-family: montserrat, arial, verdana;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 4%;
    padding-inline: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 20px;
    max-height: 87vh;
}

.header {
    font-size: xx-large;
    font-weight: 900;
}

input {
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
    margin-bottom: 10px;
    box-sizing: border-box;
    font-family: montserrat;
    color: #2C3E50;
    font-size: 13px;
    text-align: center;
}

::placeholder {
    text-align: center;
}


.input-area {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    min-width: 400px;
}

button {
    background-color: black;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-size: 16px;
    font-weight: 500;
    height: 48.5px;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

button:hover {
    background-image: linear-gradient(to bottom right, #58e85d, #32aa2a, #0fb127);
    box-shadow: rgba(1, 238, 29, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

@media (min-width: 768px) {
    button {
        padding: 0 2.6rem;
    }
}


.teamCount {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.fullName {
    display: flex;
    width: 100%;
    vertical-align: middle;
    justify-content: space-between;
}


.name-table {
    margin-top: 20px;
    min-width: 400px;
    max-height: 500px;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.name-table::-webkit-scrollbar {
    display: none;
}

.bottom {
    margin-top: 20px;
    min-width: 400px;
    display: flex;
    justify-content: space-between;
}

.generated-tables {
    display: flex;
    align-content: center;
}

.student-tables {
    padding-top: 15px;
    display: flex;
    flex-wrap: wrap;
    width: 60vw;
    max-height: 87vh;
    overflow: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.student-tables::-webkit-scrollbar {
    display: none;
}

.lower.content {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 40px;
    margin-bottom: 40px;
    width: 25%;
}

.group-number {
    font-weight: 600;
    font-size: x-large;
    margin-bottom: 20px;
}

.student-bubble {
    border: 1px solid lightseagreen;
    border-radius: 40px;
    padding: 10px 20px;
    background-color: lightseagreen;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    cursor: pointer;
}

.reload-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    top: 100;
    width: 60px;
    height: 60px;
    padding: 0;
    color: white;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
    transition: transform 0.4s ease-in-out;
    background: black;
}

.icon {
    position: relative;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: auto;
}

.reload-btn .icon {
    width: 24px;
    height: 24px;
    transition: all 0.4s ease-in-out;
}

.reload-btn:hover .icon {
    transform: rotate(360deg) scale(1.2);
}







@media (max-width: 1150px) {
    .container {
        flex-direction: column;
    }

    .student-tables {
        gap: 20px;
        justify-content: center;
        margin-top: 50px;
    }

    .lower.content {
        display: flex;
        margin-left: 0px;
    }
}